bin
obj
*.vcxproj*
*~
\#*\#
NoGitData/
NoGitDatabases/
UserWebGUI/UserWebGUI
prepmodenization_installed
.gitignore
NoGitData/
NoGitDatabases/
UserWebGUI/UserWebGUI
*.tmp
*.bk
*.tmp
spack-build-*
build-linux-*
