
NET "PHY_RXCLK" LOC = AD12;
NET "PHY_RXCLK" IOSTANDARD = LVCMOS25;
NET "PHY_RXCLK" CLOCK_DEDICATED_ROUTE = TRUE;






# U9B
#NET "JTAG_TDI1" LOC = F14; #V25;
###INST "JTAG_TDI1" IOSTANDARD = LVCMOS25;
#NET "JTAG_TDO1" LOC = F13; #N22;
###INST "JTAG_TDO1" IOSTANDARD = LVCMOS25;
#NET "JTAG_TCK1" LOC = 	F12; #M25;
##INST "JTAG_TCK1" IOSTANDARD = LVCMOS25;
#NET "JTAG_TMS1" LOC = F11; #M24;
##INST "JTAG_TMS1" IOSTANDARD = LVCMOS25;
#NET "GENERAL_06DP_12S"LOC = F16; 
##INST "GENERAL_06DP_12S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_06DN_13S"LOC = F15;
##INST "GENERAL_06DN_13S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_07DP_14S"LOC = D14;
##INST "GENERAL_07DP_14S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_07DN_15S"LOC = D13; 
##INST "GENERAL_07DN_15S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_08DP_16S"LOC =  D15;
##INST "GENERAL_08DP_16S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_08DN_17S"LOC =  E14;
##INST "GENERAL_08DN_17S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_09DP_18S"LOC =  C11;
##INST "GENERAL_09DP_18S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_09DN_19S"LOC =  D11;
##INST "GENERAL_09DN_19S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_10DP_20S"LOC =  D16;
##INST "GENERAL_10DP_20S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_10DN_21S"LOC =  C16;
##INST "GENERAL_10DN_21S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_11DP_22S"LOC =  E13;
##INST "GENERAL_11DP_22S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_11DN_23S"LOC =  D12;
##INST "GENERAL_11DN_23S" IOSTANDARD = LVCMOS25;
# U9C
#NET "JTAG_TDI3" LOC = AA14; #V25;
#INST "JTAG_TDI3" IOSTANDARD = LVCMOS25;
#NET "JTAG_TDO3" LOC = AB14; #N22;
##INST "JTAG_TDO3" IOSTANDARD = LVCMOS25;
#NET "JTAG_TCK3" LOC = 	AC12; #M25;
##INST "JTAG_TCK3" IOSTANDARD = LVCMOS25;
#NET "JTAG_TMS3" LOC = AC11; #M24;
##INST "JTAG_TMS3" IOSTANDARD = LVCMOS25;
#NET "GENERAL_18DP_36S"LOC = AA16;
##INST "GENERAL_18DP_36S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_18DN_37S"LOC = AA15;
##INST "GENERAL_18DN_37S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_19DP_38S"LOC = AB13;
##INST "GENERAL_19DP_38S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_19DN_39S"LOC = AA13;
##INST "GENERAL_19DN_39S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_20DP_40S"LOC = AC14;
##INST "GENERAL_20DP_40S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_20DN_41S"LOC = AD14;
##INST "GENERAL_20DN_41S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_21DP_42S"LOC = AA12;
##INST "GENERAL_21DP_42S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_21DN_43S"LOC = AA11;
##INST "GENERAL_21DN_43S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_22DP_44S"LOC = AC16;
##INST "GENERAL_22DP_44S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_22DN_45S"LOC = AC15;
##INST "GENERAL_22DN_45S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_23DP_46S"LOC = AC13;
##INST "GENERAL_23DP_46S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_23DN_47S"LOC = AD13;
##INST "GENERAL_23DN_47S" IOSTANDARD = LVCMOS25;
#U9D
#NET "JTAG_TDI4" LOC = B15; #V25;
##INST "JTAG_TDI4" IOSTANDARD = LVCMOS25;
#NET "JTAG_TDO4" LOC = B14; #N22;
##INST "JTAG_TDO4" IOSTANDARD = LVCMOS25;
#NET "JTAG_TCK4" LOC = A12; #M25;
##INST "JTAG_TCK4" IOSTANDARD = LVCMOS25;
#NET "JTAG_TMS4" LOC = A11; #M24;
##INST "JTAG_TMS4" IOSTANDARD = LVCMOS25;
#NET "BUSDHS_00DP_00S"LOC = C15;
#INST "BUSDHS_00DP_00S" IOSTANDARD = LVDS_25;
#NET "BUSDHS_00DN_01S"LOC = C14;
#INST "BUSDHS_00DN_01S" IOSTANDARD = LVDS_25;
#NET "BUSDHS_01DP_02S"LOC = B13;
#INST "BUSDHS_01DP_02S" IOSTANDARD = LVDS_25;
#NET "BUSDHS_01DN_03S"LOC = B12;
#INST "BUSDHS_01DN_03S" IOSTANDARD = LVDS_25;
#NET "BUSDHS_02DP_04S"LOC = A16;
#INST "BUSDHS_02DP_04S" IOSTANDARD = LVDS_25;
#NET "BUSDHS_02DN_05S"LOC = A15;
#INST "BUSDHS_02DN_05S" IOSTANDARD = LVDS_25;
#NET "BUSDHS_03DP_06S"LOC = A10;
#INST "BUSDHS_03DP_06S" IOSTANDARD = LVCMOS25;
#NET "BUSDHS_03DN_07S"LOC = B10;
#INST "BUSDHS_03DN_07S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_04DP_08S"LOC = B17;
##INST "GENERAL_04DP_08S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_04DN_09S"LOC = A17;
##INST "GENERAL_04DN_09S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_05DP_10S"LOC = C13;
##INST "GENERAL_05DP_10S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_05DN_11S"LOC = C12;
#INST "GENERAL_05DN_11S" IOSTANDARD = LVCMOS25;
#U9E
#NET "JTAG_TDI2" LOC = AF12; #V25;
##INST "JTAG_TDI2" IOSTANDARD = LVCMOS25;
#NET "JTAG_TDO2" LOC = AE12; #N22;
##INST "JTAG_TDO2" IOSTANDARD = LVCMOS25;
#NET "JTAG_TCK2" LOC = AC10; #M25;
##INST "JTAG_TCK2" IOSTANDARD = LVCMOS25;
#NET "JTAG_TMS2" LOC = AB10; #M24;
##INST "JTAG_TMS2" IOSTANDARD = LVCMOS25;
#NET "BUSBHS_00DP_00S"LOC = AB17;
#INST "BUSBHS_00DP_00S" IOSTANDARD = LVDS_25;
#NET "BUSBHS_00DN_01S"LOC = AC17;
#INST "BUSBHS_00DN_01S" IOSTANDARD = LVDS_25;
#NET "BUSBHS_01DP_02S"LOC = AF11;
#INST "BUSBHS_01DP_02S" IOSTANDARD = LVDS_25;
#NET "BUSBHS_01DN_03S"LOC = AF10;
#INST "BUSBHS_01DN_03S" IOSTANDARD = LVDS_25;
###NET "BUSBHS_02DP_04S"LOC = AE14;
###INST "BUSBHS_02DP_04S" IOSTANDARD = LVDS_25;
###NET "BUSBHS_02DN_05S"LOC = AE13;
###NET "BUSBHS_02DN_05S" IOSTANDARD = LVDS_25;
###NET "BUSBHS_03DP_06S"LOC = AE10;
###NET "BUSBHS_03DP_06S" IOSTANDARD = LVCMOS25;
###NET "BUSBHS_03DN_07S"LOC = AD10;
###NET "BUSBHS_03DN_07S" IOSTANDARD = LVCMOS25;
####NET "BUSBHS_04DP_08S"LOC = AD17;
#####NET "BUSBHS_04DP_08S" IOSTANDARD = LVCMOS25;
####NET "BUSBHS_04DN_09S"LOC = AD16;
#####NET "BUSBHS_04DN_09S" IOSTANDARD = LVCMOS25;
####NET "GENERAL_17DN_35S"LOC = AD11;
#####NET "GENERAL_17DN_35S" IOSTANDARD = LVCMOS25;
####U9F
###NET "BUSDD_00DP_00S"LOC = C17;
###INST "BUSDD_00DP_00S" IOSTANDARD = LVCMOS25;
####NET "BUSDD_00DN_01S"LOC = D17;
#####INST "BUSDD_00DN_01S" IOSTANDARD = LVCMOS25;
###NET "BUSDD_01DP_02S"LOC = C20;
###INST "BUSDD_01DP_02S" IOSTANDARD = LVCMOS25;
####NET "BUSDD_01DN_03S"LOC = B20;
#####INST "BUSDD_01DN_03S" IOSTANDARD = LVCMOS25;
###NET "BUSDD_02DP_04S"LOC = B18;
###INST "BUSDD_02DP_04S" IOSTANDARD = LVCMOS25;
####NET "BUSDD_02DN_05S"LOC = A18;
#####INST "BUSDD_02DN_05S" IOSTANDARD = LVCMOS25;
###NET "BUSDD_03DP_06S"LOC = D20;
###INST "BUSDD_03DP_06S" IOSTANDARD = LVCMOS25;
####NET "BUSDD_03DN_07S"LOC = D19;
#####INST "BUSDD_03DN_07S" IOSTANDARD = LVCMOS25;
###NET "BUSDD_04DP_08S"LOC = C21;
###INST "BUSDD_04DP_08S" IOSTANDARD = LVCMOS25;
####NET "BUSDD_04DN_09S"LOC = B21;
#####INST "BUSDD_04DN_09S" IOSTANDARD = LVCMOS25;
###NET "BUSDD_05DP_10S"LOC = E17;
###INST "BUSDD_05DP_10S" IOSTANDARD = LVCMOS25;
#NET "BUSDD_05DN_11S"LOC = F17;
##INST "BUSDD_05DN_11S" IOSTANDARD = LVCMOS25;
#NET "BUSDD_06DP_12S"LOC = C19;
##INST "BUSDD_06DP_12S" IOSTANDARD = LVCMOS25;
#NET "BUSDD_06DN_13S"LOC = D18;
##INST "BUSDD_06DN_13S" IOSTANDARD = LVCMOS25;
#NET "BUSDD_07DP_14S"LOC = G19;
##INST "BUSDD_07DP_14S" IOSTANDARD = LVCMOS25;
#NET "BUSDD_07DN_15S"LOC = F19;
##INST "BUSDD_07DN_15S" IOSTANDARD = LVCMOS25;
#NET "BUSD_08DP_16S"LOC = E23;
#INST "BUSD_08DP_16S" IOSTANDARD = LVDS_25;
#NET "BUSD_08DN_17S"LOC = E22;
#INST "BUSD_08DN_17S" IOSTANDARD = LVDS_25;
#NET "BUSD_09DP_18S"LOC = F20;
##INST "BUSD_09DP_18S" IOSTANDARD = LVCMOS25;
#NET "BUSD_09DN_19S"LOC = E20;
##INST "BUSD_09DN_19S" IOSTANDARD = LVCMOS25;
#NET "BUSD_10DP_20S"LOC = C26;
##INST "BUSD_10DP_20S" IOSTANDARD = LVCMOS25;
#NET "BUSD_10DN_21S"LOC = C25;
##INST "BUSD_10DN_21S" IOSTANDARD = LVCMOS25;
#NET "BUSD_11DP_22S"LOC = D23;
##INST "BUSD_11DP_22S" IOSTANDARD = LVCMOS25;
#NET "BUSD_11DN_23S"LOC = C23;
##INST "BUSD_11DN_23S" IOSTANDARD = LVCMOS25;
#NET "BUSD_12DP_24S"LOC = H20;
##INST "BUSD_12DP_24S" IOSTANDARD = LVCMOS25;
#NET "BUSD_12DN_25S"LOC = G20;
##INST "BUSD_12DN_25S" IOSTANDARD = LVCMOS25;
#NET "BUSD_13DP_26S"LOC = G22;
##INST "BUSD_13DP_26S" IOSTANDARD = LVCMOS25;
#NET "BUSD_13DN_27S"LOC = G21;
##INST "BUSD_13DN_27S" IOSTANDARD = LVCMOS25;
#NET "BUSD_14DP_28S"LOC = B24;
##INST "BUSD_14DP_28S" IOSTANDARD = LVCMOS25;
#NET "BUSD_14DN_29S"LOC = B23;
##INST "BUSD_14DN_29S" IOSTANDARD = LVCMOS25;
#NET "BUSD_15DP_30S"LOC = F18;
##INST "BUSD_15DP_30S" IOSTANDARD = LVCMOS25;
#NET "BUSD_15DN_31S"LOC = E18;
##INST "BUSD_15DN_31S" IOSTANDARD = LVCMOS25;
#NET "BUSD_16DP_32S"LOC = E21;
#INST "BUSD_16DP_32S" IOSTANDARD = LVDS_25;
#NET "BUSD_16DN_33S"LOC = D21;
#INST "BUSD_16DN_33S" IOSTANDARD = LVDS_25;
#NET "BUSD_17DP_34S"LOC = A20;
#INST "BUSD_17DP_34S" IOSTANDARD = LVDS_25;
#NET "BUSD_17DN_35S"LOC = A19;
#INST "BUSD_17DN_35S" IOSTANDARD = LVDS_25;
#NET "BUSD_18DP_36S"LOC = D22;
#INST "BUSD_18DP_36S" IOSTANDARD = LVDS_25;
#NET "BUSD_18DN_37S"LOC = C22;
#INST "BUSD_18DN_37S" IOSTANDARD = LVDS_25;
#NET "BUSD_19DP_38S"LOC = A22;
#INST "BUSD_19DP_38S" IOSTANDARD = LVDS_25;
#NET "BUSD_19DN_39S"LOC = A21;
#INST "BUSD_19DN_39S" IOSTANDARD = LVDS_25;
#NET "BUSD_20DP_40S"LOC = D24;
#INST "BUSD_20DP_40S" IOSTANDARD = LVDS_25;
#NET "BUSD_20DN_41S"LOC = C24;
#INST "BUSD_20DN_41S" IOSTANDARD = LVDS_25;
#NET "BUSD_21DP_42S"LOC = H22;
#INST "BUSD_21DP_42S" IOSTANDARD = LVDS_25;
#NET "BUSD_21DN_43S"LOC = H21;
#INST "BUSD_21DN_43S" IOSTANDARD = LVDS_25;
#NET "BUSD_22DP_44S"LOC = E25;
#INST "BUSD_22DP_44S" IOSTANDARD = LVDS_25;
#NET "BUSD_22DN_45S"LOC = E24;
#INST "BUSD_22DN_45S" IOSTANDARD = LVDS_25;
#NET "BUSD_23DP_46S"LOC = G24;
#INST "BUSD_23DP_46S" IOSTANDARD = LVDS_25;
#NET "BUSD_23DN_47S"LOC = G23;
#INST "BUSD_23DN_47S" IOSTANDARD = LVDS_25;
#NET "BUSD_24DP_48S"LOC = F26;
##INST "BUSD_24DP_48S" IOSTANDARD = LVCMOS25;
#NET "BUSD_24DN_49S"LOC = E26;
##INST "BUSD_24DN_49S" IOSTANDARD = LVCMOS25;
#NET "BUSD_25DP_50S"LOC = H24;
##INST "BUSD_25DP_50S" IOSTANDARD = LVCMOS25;
#NET "BUSD_25DN_51S"LOC = H23;
##INST "BUSD_25DN_51S" IOSTANDARD = LVCMOS25;
#NET "BUSD_26DP_52S"LOC = G26;
##INST "BUSD_26DP_52S" IOSTANDARD = LVCMOS25;
#NET "BUSD_26DN_53S"LOC = G25;
##INST "BUSD_26DN_53S" IOSTANDARD = LVCMOS25;
#NET "BUSD_27DP_54S"LOC = H26;
##INST "BUSD_27DP_54S" IOSTANDARD = LVCMOS25;
#NET "BUSD_27DN_55S"LOC = H25;
##INST "BUSD_27DN_55S" IOSTANDARD = LVCMOS25;
#
#NET "GENERAL_00DP_00S"LOC = A24;
#INST "GENERAL_00DP_00S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_00DN_01S"LOC = A23;
#INST "GENERAL_00DN_01S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_01DP_02S"LOC = F24;
##INST "GENERAL_01DP_02S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_01DN_03S"LOC = F23;
##INST "GENERAL_01DN_03S" IOSTANDARD = LVCMOS25;
##INST "GENERAL_02DP_04S" IOSTANDARD = LVCMOS25;
##INST "GENERAL_02DN_05S" IOSTANDARD = LVCMOS25;
##INST "GENERAL_03DN_07S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_03DP_06S"LOC = D26;
#INST "GENERAL_03DP_06S" IOSTANDARD = LVCMOS25;
#NET "IP_MAC_0"LOC = N3;
#INST "IP_MAC_0" IOSTANDARD = LVCMOS25;
#NET "IP_MAC_1"LOC = N5;
#INST "IP_MAC_1" IOSTANDARD = LVCMOS25;
#NET "IP_MAC_2"LOC = N4;
#INST "IP_MAC_2" IOSTANDARD = LVCMOS25;
#U9G
###NET "BUSA_00DP_00S"LOC = D10;
###INST "BUSA_00DP_00S" IOSTANDARD = LVDS_25;
###NET "BUSA_00DN_01S"LOC = C10;
###INST "BUSA_00DN_01S" IOSTANDARD = LVDS_25;
###NET "BUSA_01DP_02S"LOC = D9;
###INST "BUSA_01DP_02S" IOSTANDARD = LVDS_25;
###NET "BUSA_01DN_03S"LOC = C8;
###INST "BUSA_01DN_03S" IOSTANDARD = LVDS_25;
###NET "BUSA_02DP_04S"LOC = A8;
###INST "BUSA_02DP_04S" IOSTANDARD = LVDS_25;
###NET "BUSA_02DN_05S"LOC = A7;
###INST "BUSA_02DN_05S" IOSTANDARD = LVDS_25;
###NET "BUSA_03DP_06S"LOC = D8;
###INST "BUSA_03DP_06S" IOSTANDARD = LVDS_25;
###NET "BUSA_03DN_07S"LOC = D7;
###INST "BUSA_03DN_07S" IOSTANDARD = LVDS_25;
###NET "BUSA_04DP_08S"LOC = F10;
###INST "BUSA_04DP_08S" IOSTANDARD = LVDS_25;
###NET "BUSA_04DN_09S"LOC = E10;
###INST "BUSA_04DN_09S" IOSTANDARD = LVDS_25;
###NET "BUSA_05DP_10S"LOC = A6;
###INST "BUSA_05DP_10S" IOSTANDARD = LVDS_25;
###NET "BUSA_05DN_11S"LOC = A5;
###INST "BUSA_05DN_11S" IOSTANDARD = LVDS_25;
###NET "BUSA_06DP_12S"LOC = E9;
###INST "BUSA_06DP_12S" IOSTANDARD = LVDS_25;
###NET "BUSA_06DN_13S"LOC = F9;
###INST "BUSA_06DN_13S" IOSTANDARD = LVDS_25;
###NET "BUSA_07DP_14S"LOC = E7;
###INST "BUSA_07DP_14S" IOSTANDARD = LVDS_25;
###NET "BUSA_07DN_15S"LOC = D6;
###INST "BUSA_07DN_15S" IOSTANDARD = LVDS_25;
###NET "BUSA_08DP_16S"LOC = E6;
###INST "BUSA_08DP_16S" IOSTANDARD = LVDS_25;
###NET "BUSA_08DN_17S"LOC = E5;
###INST "BUSA_08DN_17S" IOSTANDARD = LVDS_25;
###NET "BUSA_09DP_18S"LOC = F7;
###INST "BUSA_09DP_18S" IOSTANDARD = LVDS_25;
###NET "BUSA_09DN_19S"LOC = G7;
###INST "BUSA_09DN_19S" IOSTANDARD = LVDS_25;
###NET "BUSA_10DP_20S"LOC = C2;
###INST "BUSA_10DP_20S" IOSTANDARD = LVDS_25;
###NET "BUSA_10DN_21S"LOC = C1;
###INST "BUSA_10DN_21S" IOSTANDARD = LVDS_25;
###NET "BUSA_11DP_22S"LOC = H8;
###INST "BUSA_11DP_22S" IOSTANDARD = LVDS_25;
###NET "BUSA_11DN_23S"LOC = H7;
###INST "BUSA_11DN_23S" IOSTANDARD = LVDS_25;
###NET "BUSA_12DP_24S"LOC = D3;
###NET "BUSA_12DP_24S" IOSTANDARD = LVDS_25;
###NET "BUSA_12DN_25S"LOC = E4;
###INST "BUSA_12DN_25S" IOSTANDARD = LVDS_25;
###NET "BUSA_13DP_26S"LOC = G6;
###INST "BUSA_13DP_26S" IOSTANDARD = LVDS_25;
###NET "BUSA_13DN_27S"LOC = G5;
###INST "BUSA_13DN_27S" IOSTANDARD = LVDS_25;
###NET "BUSA_14DP_28S"LOC = F8;
###NET "BUSA_14DP_28S" IOSTANDARD = LVDS_25;
###NET "BUSA_14DN_29S"LOC = G8;
###INST "BUSA_14DN_29S" IOSTANDARD = LVDS_25;
###NET "BUSA_15DP_30S"LOC = B7;
###INST "BUSA_15DP_30S" IOSTANDARD = LVDS_25;
###NET "BUSA_15DN_31S"LOC = C7;
###INST "BUSA_15DN_31S" IOSTANDARD = LVDS_25;
#NET "BUSA_16DP_32S"LOC = C5;
#INST "BUSA_16DP_32S" IOSTANDARD = LVDS_25;
#NET "BUSA_16DN_33S"LOC = D5;
#INST "BUSA_16DN_33S" IOSTANDARD = LVDS_25;
#NET "BUSA_17DP_34S"LOC = A9;
#INST "BUSA_17DP_34S" IOSTANDARD = LVDS_25;
#NET "BUSA_17DN_35S"LOC = B9;
#INST "BUSA_17DN_35S" IOSTANDARD = LVDS_25;
#NET "BUSA_18DP_36S"LOC = A3;
#INST "BUSA_18DP_36S" IOSTANDARD = LVDS_25;
#NET "BUSA_18DN_37S"LOC = B3;
#INST "BUSA_18DN_37S" IOSTANDARD = LVDS_25;
#NET "BUSA_19DP_38S"LOC = A4;
#INST "BUSA_19DP_38S" IOSTANDARD = LVDS_25;
#NET "BUSA_19DN_39S"LOC = B4;
#INST "BUSA_19DN_39S" IOSTANDARD = LVDS_25;
#NET "BUSA_20DP_40S"LOC = C4;
#INST "BUSA_20DP_40S" IOSTANDARD = LVDS_25;
#NET "BUSA_20DN_41S"LOC = D4;
#INST "BUSA_20DN_41S" IOSTANDARD = LVDS_25;
#NET "BUSA_21DP_42S"LOC = E1;
#INST "BUSA_21DP_42S" IOSTANDARD = LVCMOS25;
##NET "BUSA_21DN_43S"LOC = F1;
##INST "BUSA_21DN_43S" IOSTANDARD = LVCMOS25;
#NET "BUSA_22DP_44S"LOC = F4;
#INST "BUSA_22DP_44S" IOSTANDARD = LVDS_25;
#NET "BUSA_22DN_45S"LOC = F3;
#INST "BUSA_22DN_45S" IOSTANDARD = LVDS_25;
#NET "BUSA_23DP_46S"LOC = G4;
#INST "BUSA_23DP_46S" IOSTANDARD = LVDS_25;
#NET "BUSA_23DN_47S"LOC = G3;
#INST "BUSA_23DN_47S" IOSTANDARD = LVDS_25;
#NET "BUSA_24DP_48S"LOC = H6;
#INST "BUSA_24DP_48S" IOSTANDARD = LVDS_25;
#NET "BUSA_24DN_49S"LOC = H5;
#INST "BUSA_24DN_49S" IOSTANDARD = LVDS_25;
#NET "BUSA_25DP_50S"LOC = G2;
#INST "BUSA_25DP_50S" IOSTANDARD = LVDS_25;
#NET "BUSA_25DN_51S"LOC = G1;
#INST "BUSA_25DN_51S" IOSTANDARD = LVDS_25;
###NET "BUSA_26DP_52S"LOC = H4;
###INST "BUSA_26DP_52S" IOSTANDARD = LVDS_25;
###NET "BUSA_26DN_53S"LOC = H3;
###INST "BUSA_26DN_53S" IOSTANDARD = LVDS_25;
#NET "BUSA_27DP_54S"LOC = H2;
##INST "BUSA_27DP_54S" IOSTANDARD = LVCMOS25;
#NET "BUSA_27DN_55S"LOC = H1;
##INST "BUSA_27DN_55S" IOSTANDARD = LVCMOS25;
#
#NET "BUSAHS_00DP_00S" CLOCK_DEDICATED_ROUTE = TRUE;
#NET "BUSAHS_00DP_00S"LOC = B6;
#INST "BUSAHS_00DP_00S" IOSTANDARD = LVDS_25;
#NET "BUSAHS_00DN_01S"LOC = C6;
#INST "BUSAHS_00DN_01S" IOSTANDARD = LVDS_25;
#NET "BUSAHS_01DP_02S"LOC = E3;
#INST "BUSAHS_01DP_02S" IOSTANDARD = LVDS_25;
#NET "BUSAHS_01DN_03S"LOC = E2;
#INST "BUSAHS_01DN_03S" IOSTANDARD = LVDS_25;
#NET "BUSAHS_02DP_04S"LOC = G10;
#INST "BUSAHS_02DP_04S" IOSTANDARD = LVCMOS25;
#NET "BUSAHS_02DN_05S"LOC = G9;
#INST "BUSAHS_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "BUSAHS_03DP_06S"LOC = D2;
##INST "BUSAHS_03DP_06S" IOSTANDARD = LVCMOS25;
#NET "BUSAHS_03DN_07S"LOC = D1;
##INST "BUSAHS_03DN_07S" IOSTANDARD = LVCMOS25;
#U9H
#NET "BUSC_00DP_00S"LOC = AA19;
##INST "BUSC_00DP_00S" IOSTANDARD = LVCMOS25;
#NET "BUSC_00DN_01S"LOC = AA20;
##INST "BUSC_00DN_01S" IOSTANDARD = LVCMOS25;
#NET "BUSC_01DP_02S"LOC = Y17 ;
##INST "BUSC_01DP_02S" IOSTANDARD = LVCMOS25;
#NET "BUSC_01DN_03S"LOC = AA17;
##INST "BUSC_01DN_03S" IOSTANDARD = LVCMOS25;
#NET "BUSC_02DP_04S"LOC = AB20;
##INST "BUSC_02DP_04S" IOSTANDARD = LVCMOS25;
#NET "BUSC_02DN_05S"LOC = AC20;
##INST "BUSC_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "BUSC_03DP_06S"LOC = AC18;
##INST "BUSC_03DP_06S" IOSTANDARD = LVCMOS25;
#NET "BUSC_03DN_07S"LOC = AB18;
##INST "BUSC_03DN_07S" IOSTANDARD = LVCMOS25;
#NET "BUSC_04DP_08S"LOC = AF21;
##INST "BUSC_04DP_08S" IOSTANDARD = LVCMOS25;
#NET "BUSC_04DN_09S"LOC = AF22;
##INST "BUSC_04DN_09S" IOSTANDARD = LVCMOS25;
#NET "BUSC_05DP_10S"LOC = AF18;
##INST "BUSC_05DP_10S" IOSTANDARD = LVCMOS25;
#NET "BUSC_05DN_11S"LOC = AE18;
##INST "BUSC_05DN_11S" IOSTANDARD = LVCMOS25;
#NET "BUSC_06DP_12S"LOC = AE21;
##INST "BUSC_06DP_12S" IOSTANDARD = LVCMOS25;
#NET "BUSC_06DN_13S"LOC = AD21;
##INST "BUSC_06DN_13S" IOSTANDARD = LVCMOS25;
#NET "BUSC_07DP_14S"LOC = AF19;
#INST "BUSC_07DP_14S" IOSTANDARD = LVDS_25;
#NET "BUSC_07DN_15S"LOC = AF20;
#INST "BUSC_07DN_15S" IOSTANDARD = LVDS_25;
#NET "BUSC_08DP_16S"LOC = Y19 ;
#INST "BUSC_08DP_16S" IOSTANDARD = LVDS_25;
#NET "BUSC_08DN_17S"LOC = W19 ;
#INST "BUSC_08DN_17S" IOSTANDARD = LVDS_25;
#NET "BUSC_09DP_18S"LOC = AF23;
#INST "BUSC_09DP_18S" IOSTANDARD = LVDS_25;
#NET "BUSC_09DN_19S"LOC = AE23;
#INST "BUSC_09DN_19S" IOSTANDARD = LVDS_25;
#NET "BUSC_10DP_20S"LOC = Y20 ;
#INST "BUSC_10DP_20S" IOSTANDARD = LVDS_25;
#NET "BUSC_10DN_21S"LOC = Y21 ;
#INST "BUSC_10DN_21S" IOSTANDARD = LVDS_25;
#NET "BUSC_11DP_22S"LOC = AA18;
#INST "BUSC_11DP_22S" IOSTANDARD = LVDS_25;
#NET "BUSC_11DN_23S"LOC = Y18 ;
#INST "BUSC_11DN_23S" IOSTANDARD = LVDS_25;
#NET "BUSC_12DP_24S"LOC = AF24;
##INST "BUSC_12DP_24S" IOSTANDARD = LVCMOS25;
#NET "BUSC_12DN_25S"LOC = AE24;
##INST "BUSC_12DN_25S" IOSTANDARD = LVCMOS25;
#NET "BUSC_13DP_26S"LOC = AE20;
##INST "BUSC_13DP_26S" IOSTANDARD = LVCMOS25;
#NET "BUSC_13DN_27S"LOC = AD20;
##INST "BUSC_13DN_27S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD7" LOC = V21; #M25; NET "BUSC_14DP_28S"LOC = V21 ;
#INST "BUSC_14DP_28S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD6" LOC = V22; #NET "BUSC_14DN_29S"LOC = V22 ;#M24;
#INST "BUSC_14DN_29S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD5" LOC = W25; #NET "BUSC_15DP_30S"LOC = W25 ;#L24;
#INST "BUSC_15DP_30S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD4" LOC = W26; #NET "BUSC_15DN_31S"LOC = W26 ;#L23;
#INST "BUSC_15DN_31S" IOSTANDARD = LVCMOS25;
#NET "BUSC_16DP_32S"LOC = W21 ;#NET "GMII_RX_ER_0" LOC = W21; #V26;
#INST "BUSC_16DP_32S" IOSTANDARD = LVCMOS25;
NET "PHY_TXER" LOC = W22; #V25; NET "BUSC_16DN_33S"LOC = W22 ;
#INST "BUSC_16DN_33S" IOSTANDARD = LVCMOS25;
NET "PHY_RXD1" LOC = W23; #NET "BUSC_17DP_34S"LOC = W23 ;#U23;
#INST "BUSC_17DP_34S" IOSTANDARD = LVCMOS25;

NET "PHY_RXD0" LOC = W24; #NET "BUSC_17DN_35S"LOC = W24 ; #V23;
#INST "BUSC_17DN_35S" IOSTANDARD = LVCMOS25;
NET "PHY_RXD3" LOC = W20; #NET "BUSC_18DP_36S"LOC = W20 ;#AC18;
#INST "BUSC_18DP_36S" IOSTANDARD = LVCMOS25;
NET "PHY_RXD2" LOC = V20; #NET "BUSC_18DN_37S"LOC = V20 ;# #AB18;
#INST "BUSC_18DN_37S" IOSTANDARD = LVCMOS25;
NET "PHY_RXD5" LOC = Y25; #NET "BUSC_19DP_38S"LOC = Y25 ;#M21;
#INST "BUSC_19DP_38S" IOSTANDARD = LVCMOS25;
NET "PHY_RXD4" LOC = Y26; #NET "BUSC_19DN_39S"LOC = Y26 ;#M20;
#INST "BUSC_19DN_39S" IOSTANDARD = LVCMOS25;
NET "PHY_RXD7" LOC = AB24; #NET "BUSC_20DP_40S"LOC = AB24;#AF24;
#INST "BUSC_20DP_40S" IOSTANDARD = LVCMOS25;
NET "PHY_RXD6" LOC = AB25; #NET "BUSC_20DN_41S"LOC = AB25;#AE24;
#INST "BUSC_20DN_41S" IOSTANDARD = LVCMOS25;
#NET "BUSC_21DP_42S"LOC = AB26;
#INST "BUSC_21DP_42S" IOSTANDARD = LVCMOS25;
#NET "PHY_RESET" LOC = AA26; #NET "BUSC_21DN_43S"LOC = AA26;#Y26;
#INST "BUSC_21DN_43S" IOSTANDARD = LVCMOS25;
#NET "BUSC_22DP_44S"LOC = AD25;
##INST "BUSC_22DP_44S" IOSTANDARD = LVCMOS25;
#NET "BUSC_22DN_45S"LOC = AD26;
##INST "BUSC_22DN_45S" IOSTANDARD = LVCMOS25;
#NET "BUSC_23DP_46S"LOC = Y22 ;
##INST "BUSC_23DP_46S" IOSTANDARD = LVCMOS25;
#NET "BUSC_23DN_47S"LOC = Y23 ;
#INST "BUSC_23DN_47S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD3" LOC = AC22; #NET "BUSC_24DP_48S"LOC = AC22;#N25;
#INST "BUSC_24DP_48S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD2" LOC = AB22; #NET "BUSC_24DN_49S"LOC = AB22;#N24;
#INST "BUSC_24DN_49S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD1" LOC = AB23; #NET "BUSC_25DP_50S"LOC = AB23;#AA19;
#INST "BUSC_25DP_50S" IOSTANDARD = LVCMOS25;
NET "PHY_TXD0" LOC = AA23; #NET "BUSC_25DN_51S"LOC = AA23;#AA20;
#INST "BUSC_25DN_51S" IOSTANDARD = LVCMOS25;
#NET "GMII_RX_CLK_0" LOC = AD22; #T26;
#INST "BUSC_26DP_52S" IOSTANDARD = LVCMOS25;
NET "PHY_TXC_GTXCLK" LOC = AD23; #NET "BUSC_26DN_53S"LOC = AD23;#U26;
#INST "BUSC_26DN_53S" IOSTANDARD = LVCMOS25;
NET "PHY_RXCTL_RXDV" LOC = AC23; #NET "BUSC_27DP_54S"LOC = AC23;
#INST "BUSC_27DP_54S" IOSTANDARD = LVCMOS25;
NET "PHY_TXCTL_TXEN" LOC = AC24; #NET "BUSC_27DN_55S"LOC = AC24;#N22;
#INST "BUSC_27DN_55S" IOSTANDARD = LVCMOS25;
#
#NET "BUSCHS_00DP_00S"LOC = AD19;
##INST "BUSCHS_00DP_00S" IOSTANDARD = LVCMOS25;
#NET "BUSCHS_00DN_01S"LOC = AC19;
##INST "BUSCHS_00DN_01S" IOSTANDARD = LVCMOS25;
#NET "BUSCHS_01DP_02S"LOC = AC21;
##INST "BUSCHS_01DP_02S" IOSTANDARD = LVCMOS25;
#NET "BUSCHS_01DN_03S"LOC = AB21;
##INST "BUSCHS_01DN_03S" IOSTANDARD = LVCMOS25;
#NET "BUSCHS_02DP_04S"LOC = AA24;
##INST "BUSCHS_02DP_04S" IOSTANDARD = LVCMOS25;
#NET "BUSCHS_02DN_05S"LOC = Y24 ;
##INST "BUSCHS_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "BUSCHS_03DP_06S"LOC = AC25;
#INST "BUSCHS_03DP_06S" IOSTANDARD = LVDS_25;
#NET "BUSCHS_03DN_07S"LOC = AC26;
#INST "BUSCHS_03DN_07S" IOSTANDARD = LVDS_25;
#U9I
#NET "BUSBB_00DP_00S"LOC = AA8 ;
#INST "BUSBB_00DP_00S" IOSTANDARD = LVDS_25;
#NET "BUSBB_00DN_01S"LOC = Y8  ;
#INST "BUSBB_00DN_01S" IOSTANDARD = LVDS_25;
#NET "BUSBB_01DP_02S"LOC = Y10 ;
#INST "BUSBB_01DP_02S" IOSTANDARD = LVDS_25;
#NET "BUSBB_01DN_03S"LOC = AA10;
#INST "BUSBB_01DN_03S" IOSTANDARD = LVDS_25;
#NET "BUSBB_02DP_04S"LOC = AC7 ;
#INST "BUSBB_02DP_04S" IOSTANDARD = LVCMOS25;
##NET "BUSBB_02DN_05S"LOC = AB7 ;
###INST "BUSBB_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "BUSBB_03DP_06S"LOC = AC9;
#INST "BUSBB_03DP_06S" IOSTANDARD = LVDS_25;
#NET "BUSBB_03DN_07S"LOC = AB9;
#INST "BUSBB_03DN_07S" IOSTANDARD = LVDS_25;
#NET "BUSBB_04DP_08S"LOC = AE6;
#INST "BUSBB_04DP_08S" IOSTANDARD = LVDS_25;
#NET "BUSBB_04DN_09S"LOC = AD6 ;
#INST "BUSBB_04DN_09S" IOSTANDARD = LVDS_25;
#NET "BUSBB_05DP_10S"LOC = AF9 ;
#INST "BUSBB_05DP_10S" IOSTANDARD = LVDS_25;
#NET "BUSBB_05DN_11S"LOC = AE9 ;
#INST "BUSBB_05DN_11S" IOSTANDARD = LVDS_25;
#NET "BUSBB_06DP_12S"LOC = AD8 ;
#INST "BUSBB_06DP_12S" IOSTANDARD = LVDS_25;
#NET "BUSBB_06DN_13S"LOC = AC8 ;
#INST "BUSBB_06DN_13S" IOSTANDARD = LVDS_25;
#NET "BUSBB_07DP_14S"LOC = AF4 ;
###INST "BUSBB_07DP_14S" IOSTANDARD = LVCMOS25;
#NET "BUSBB_07DN_15S"LOC = AE4 ;
###INST "BUSBB_07DN_15S" IOSTANDARD = LVCMOS25;
###NET "BUSB_08DP_16S"LOC = AD3 ;
###INST "BUSB_08DP_16S" IOSTANDARD = LVDS_25;
###NET "BUSB_08DN_17S"LOC = AC3 ;
###INST "BUSB_08DN_17S" IOSTANDARD = LVDS_25;
###NET "BUSB_09DP_18S"LOC = AF6 ;
###INST "BUSB_09DP_18S" IOSTANDARD = LVDS_25;
###NET "BUSB_09DN_19S"LOC = AF5 ;
###INST "BUSB_09DN_19S" IOSTANDARD = LVDS_25;
###NET "BUSB_10DP_20S"LOC = AA7 ;
###INST "BUSB_10DP_20S" IOSTANDARD = LVDS_25;
###NET "BUSB_10DN_21S"LOC = Y7  ;
###INST "BUSB_10DN_21S" IOSTANDARD = LVDS_25;
###NET "BUSB_11DP_22S"LOC = AA9 ;
###INST "BUSB_11DP_22S" IOSTANDARD = LVDS_25;
###NET "BUSB_11DN_23S"LOC = Y9  ;
###INST "BUSB_11DN_23S" IOSTANDARD = LVDS_25;
###NET "BUSB_12DP_24S"LOC = AD5 ;
###INST "BUSB_12DP_24S" IOSTANDARD = LVDS_25;
###NET "BUSB_12DN_25S"LOC = AD4 ;
###INST "BUSB_12DN_25S" IOSTANDARD = LVDS_25;
###NET "BUSB_13DP_26S"LOC = AE7 ;
###INST "BUSB_13DP_26S" IOSTANDARD = LVDS_25;
###NET "BUSB_13DN_27S"LOC = AD7 ;
###INST "BUSB_13DN_27S" IOSTANDARD = LVDS_25;
###NET "BUSB_14DP_28S"LOC = W2  ;
###INST "BUSB_14DP_28S" IOSTANDARD = LVDS_25;
###NET "BUSB_14DN_29S"LOC = W1  ;
###INST "BUSB_14DN_29S" IOSTANDARD = LVDS_25;
###NET "BUSB_15DP_30S"LOC = V6  ;
###INST "BUSB_15DP_30S" IOSTANDARD = LVDS_25;
###NET "BUSB_15DN_31S"LOC = V5  ;
###INST "BUSB_15DN_31S" IOSTANDARD = LVDS_25;
#NET "BUSB_16DP_32S"LOC = W7  ;
#INST "BUSB_16DP_32S" IOSTANDARD = LVCMOS25;
#NET "BUSB_16DN_33S"LOC = V7  ;
#INST "BUSB_16DN_33S" IOSTANDARD = LVCMOS25;
#NET "BUSB_17DP_34S"LOC = W4  ;
#INST "BUSB_17DP_34S" IOSTANDARD = LVDS_25;
#NET "BUSB_17DN_35S"LOC = W3  ;
#INST "BUSB_17DN_35S" IOSTANDARD = LVDS_25;
##NET "BUSB_18DP_36S"LOC = W6  ;
##INST "BUSB_18DP_36S" IOSTANDARD = LVCMOS25;
##NET "BUSB_18DN_37S"LOC = W5  ;
##INST "BUSB_18DN_37S" IOSTANDARD = LVCMOS25;
#NET "BUSB_19DP_38S"LOC = Y2  ;
#INST "BUSB_19DP_38S" IOSTANDARD = LVDS_25;
#NET "BUSB_19DN_39S"LOC = Y1  ;
#INST "BUSB_19DN_39S" IOSTANDARD = LVDS_25;
#NET "BUSB_20DP_40S"LOC = AA4 ;
#INST "BUSB_20DP_40S" IOSTANDARD = LVDS_25;
#NET "BUSB_20DN_41S"LOC = AA3 ;
#INST "BUSB_20DN_41S" IOSTANDARD = LVDS_25;
#NET "BUSB_21DP_42S"LOC = AB1 ;
#INST "BUSB_21DP_42S" IOSTANDARD = LVDS_25;
#NET "BUSB_21DN_43S"LOC = AA1 ;
#INST "BUSB_21DN_43S" IOSTANDARD = LVDS_25;
# Taken out when 3 wide fifo enabled
#NET "BUSB_22DP_44S"LOC = AC4 ;
#INST "BUSB_22DP_44S" IOSTANDARD = LVDS_25;
#NET "BUSB_22DN_45S"LOC = AB4 ;
#INST "BUSB_22DN_45S" IOSTANDARD = LVDS_25;
#NET "BUSB_23DP_46S"LOC = AB3 ;
#INST "BUSB_23DP_46S" IOSTANDARD = LVDS_25;
#NET "BUSB_23DN_47S"LOC = AB2 ;
#INST "BUSB_23DN_47S" IOSTANDARD = LVDS_25;
#NET "BUSB_24DP_48S"LOC = AC5 ;
#INST "BUSB_24DP_48S" IOSTANDARD = LVDS_25;
#NET "BUSB_24DN_49S"LOC = AB5 ;
#INST "BUSB_24DN_49S" IOSTANDARD = LVDS_25;
#NET "BUSB_25DP_50S"LOC = AC2 ;
#INST "BUSB_25DP_50S" IOSTANDARD = LVDS_25;
#NET "BUSB_25DN_51S"LOC = AC1 ;
#INST "BUSB_25DN_51S" IOSTANDARD = LVDS_25;
#NET "BUSB_26DP_52S"LOC = AF3 ;
#INST "BUSB_26DP_52S" IOSTANDARD = LVDS_25;
#NET "BUSB_26DN_53S"LOC = AE3 ;
#INST "BUSB_26DN_53S" IOSTANDARD = LVDS_25;
#NET "BUSB_27DP_54S"LOC = AD2 ;
#INST "BUSB_27DP_54S" IOSTANDARD = LVDS_25;
#NET "BUSB_27DN_55S"LOC = AD1 ;
#INST "BUSB_27DN_55S" IOSTANDARD = LVDS_25;
#NET "JTAG_TMS_IO"LOC = Y4  ;
###INST "JTAG_TMS_IO" IOSTANDARD = LVCMOS25;
#NET "JTAG_TDI_IO"LOC = Y3  ;
###INST "JTAG_TDI_IO" IOSTANDARD = LVCMOS25;
#NET "JTAG_TCK_IO"LOC = Y5  ;
###INST "JTAG_TCK_IO" IOSTANDARD = LVCMOS25;
#NET "JTAG_TDO_IO"LOC = Y6  ;
###INST "JTAG_TDO_IO" IOSTANDARD = LVCMOS25;
#NET "GENERAL_13DP_26S"LOC = AC6 ;
###INST "GENERAL_13DP_26S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_13DN_27S"LOC = AB6;
#INST "GENERAL_13DN_27S" IOSTANDARD = LVCMOS25;
##U9J
#NET "BUSC_28DP_56S"LOC = N21 ;
##INST "BUSC_28DP_56S" IOSTANDARD = LVCMOS25;
#NET "BUSC_28DN_57S"LOC = N20 ;
##INST "BUSC_28DN_57S" IOSTANDARD = LVCMOS25;
#NET "BUSC_29DP_58S"LOC = P25 ;
##INST "BUSC_29DP_58S" IOSTANDARD = LVCMOS25;
#NET "BUSC_29DN_59S"LOC = P24 ;
##INST "BUSC_29DN_59S" IOSTANDARD = LVCMOS25;
#NET "BUSC_30DP_60S"LOC = P23 ;
##INST "BUSC_30DP_60S" IOSTANDARD = LVCMOS25;
#NET "BUSC_30DN_61S"LOC = P22 ;
##INST "BUSC_30DN_61S" IOSTANDARD = LVCMOS25;
#NET "BUSC_31DP_62S"LOC = R26 ;
##INST "BUSC_31DP_62S" IOSTANDARD = LVCMOS25;
#NET "BUSC_31DN_63S"LOC = R25 ;
##INST "BUSC_31DN_63S" IOSTANDARD = LVCMOS25;
#
#NET "BUSCHS_04DP_08S"LOC = R20; 
##INST "BUSCHS_04DP_08S" IOSTANDARD = LVCMOS25;
#NET "BUSCHS_04DN_09S"LOC = R19 ;
##INST "BUSCHS_04DN_09S" IOSTANDARD = LVCMOS25;
#
#NET "BUSCC_00DP_00S"LOC = P20 ;
#INST "BUSCC_00DP_00S" IOSTANDARD = LVDS_25;
#NET "BUSCC_00DN_01S"LOC = P19 ;
#INST "BUSCC_00DN_01S" IOSTANDARD = LVDS_25;
#NET "BUSCC_01DP_02S"LOC = R24 ;
#INST "BUSCC_01DP_02S" IOSTANDARD = LVDS_25;
#NET "BUSCC_01DN_03S"LOC = R23 ;
#INST "BUSCC_01DN_03S" IOSTANDARD = LVDS_25;
#NET "BUSCC_02DP_04S"LOC = R22 ;
##INST "BUSCC_02DP_04S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_02DN_05S"LOC = R21 ;
##INST "BUSCC_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_03DP_06S"LOC = T26 ;
##INST "BUSCC_03DP_06S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_03DN_07S"LOC = U26 ;
##INST "BUSCC_03DN_07S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_04DP_08S"LOC = U23 ;
##INST "BUSCC_04DP_08S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_04DN_09S"LOC = V23 ;
##INST "BUSCC_04DN_09S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_05DP_10S"LOC = U25 ;
##INST "BUSCC_05DP_10S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_05DN_11S"LOC = U24 ;
##INST "BUSCC_05DN_11S" IOSTANDARD = LVCMOS25;
#NET "BUSCC_06DP_12S"LOC = U22 ;
#INST "BUSCC_06DP_12S" IOSTANDARD = LVDS_25;
#NET "BUSCC_06DN_13S"LOC = U21 ;
#INST "BUSCC_06DN_13S" IOSTANDARD = LVDS_25;
#NET "BUSCC_07DP_14S"LOC = T21 ;
#INST "BUSCC_07DP_14S" IOSTANDARD = LVDS_25;
#NET "BUSCC_07DN_15S"LOC = T20 ;
#INST "BUSCC_07DN_15S" IOSTANDARD = LVDS_25;
#
#NET "BUSD_00DP_00S"LOC = K22 ;
##INST "BUSD_00DP_00S" IOSTANDARD = LVCMOS25;
#NET "BUSD_00DN_01S"LOC = K21 ;
##INST "BUSD_00DN_01S" IOSTANDARD = LVCMOS25;
#NET "BUSD_01DP_02S"LOC = L19 ;
##INST "BUSD_01DP_02S" IOSTANDARD = LVCMOS25;
#NET "BUSD_01DN_03S"LOC = K20 ;
##INST "BUSD_01DN_03S" IOSTANDARD = LVCMOS25;
#NET "BUSD_02DP_04S"LOC = L21 ;
##INST "BUSD_02DP_04S" IOSTANDARD = LVCMOS25;
#NET "BUSD_02DN_05S"LOC = L20 ;
##INST "BUSD_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "BUSD_03DP_06S"LOC = L24 ;
##INST "BUSD_03DP_06S" IOSTANDARD = LVCMOS25;
#NET "BUSD_03DN_07S"LOC = L23 ;
##INST "BUSD_03DN_07S" IOSTANDARD = LVCMOS25;
#NET "BUSD_04DP_08S"LOC = M25 ;
#INST "BUSD_04DP_08S" IOSTANDARD = LVDS_25;
#NET "BUSD_04DN_09S"LOC = M24 ;
#INST "BUSD_04DN_09S" IOSTANDARD = LVDS_25;
#NET "BUSD_05DP_10S"LOC =  L26;
#INST "BUSD_05DP_10S" IOSTANDARD = LVDS_25;
#NET "BUSD_05DN_11S"LOC =  M26;
#INST "BUSD_05DN_11S" IOSTANDARD = LVDS_25;
#NET "BUSD_06DP_12S"LOC =  M21;
#INST "BUSD_06DP_12S" IOSTANDARD = LVDS_25;
#NET "BUSD_06DN_13S"LOC =  M20;
#INST "BUSD_06DN_13S" IOSTANDARD = LVDS_25;
#NET "BUSD_07DP_14S"LOC =  M23;
#INST "BUSD_07DP_14S" IOSTANDARD = LVDS_25;
#NET "BUSD_07DN_15S"LOC =  M22;
#INST "BUSD_07DN_15S" IOSTANDARD = LVDS_25;
#
#NET "BUSD_28DP_56S"LOC = J26 ;
##INST "BUSD_28DP_56S" IOSTANDARD = LVCMOS25;
#NET "BUSD_28DN_57S"LOC = J25 ;
##INST "BUSD_28DN_57S" IOSTANDARD = LVCMOS25;
#NET "BUSD_29DP_58S"LOC = J23 ;
##INST "BUSD_29DP_58S" IOSTANDARD = LVCMOS25;
#NET "BUSD_29DN_59S"LOC = J22 ;
##INST "BUSD_29DN_59S" IOSTANDARD = LVCMOS25;
#NET "BUSD_30DP_60S"LOC = J21 ;
##INST "BUSD_30DP_60S" IOSTANDARD = LVCMOS25;
#NET "BUSD_30DN_61S"LOC = J20 ;
##INST "BUSD_30DN_61S" IOSTANDARD = LVCMOS25;
#NET "BUSD_31DP_62S"LOC = K24 ;
##INST "BUSD_31DP_62S" IOSTANDARD = LVCMOS25;
#NET "BUSD_31DN_63S"LOC = K23 ;
##INST "BUSD_31DN_63S" IOSTANDARD = LVCMOS25;
#
#NET "BUSDHS_04DP_08S"LOC = K26; 
##INST "BUSDHS_04DP_08S" IOSTANDARD = LVCMOS25;
#NET "BUSDHS_04DN_09S"LOC = K25 ;
##INST "BUSDHS_04DN_09S" IOSTANDARD = LVCMOS25;
#
#
###NET "GENERAL_12DP_24S"LOC = T24 ;
###INST "GENERAL_12DP_24S" IOSTANDARD = LVCMOS25;
###NET "GENERAL_12DN_25S"LOC = T23 ;
###INST "GENERAL_12DN_25S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_14DP_28S"LOC = U20 ;
#INST "GENERAL_14DP_28S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_14DN_29S"LOC = T19 ;
#INST "GENERAL_14DN_29S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_15DP_30S"LOC = V26 ;
##INST "GENERAL_15DP_30S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_15DN_31S"LOC = V25 ;
##INST "GENERAL_15DN_31S" IOSTANDARD = LVCMOS25;
#
#NET "INTERNAL_07DP_14S"LOC = M19 ;
##INST "INTERNAL_07DP_14S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_07DN_15S"LOC = N19 ;
##INST "INTERNAL_07DN_15S" IOSTANDARD = LVCMOS25;
###NET "INTERNAL_08DP_16S"LOC = N25 ;
###INST "INTERNAL_08DP_16S" IOSTANDARD = LVCMOS25;
###NET "INTERNAL_08DN_17S"LOC = N24 ;
###INST "INTERNAL_08DN_17S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_09DP_18S"LOC = N23 ;
##INST "INTERNAL_09DP_18S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_09DN_19S"LOC = N22 ;
##INST "INTERNAL_09DN_19S" IOSTANDARD = LVCMOS25;
##U9K
###NET "BUSB_00DP_00S"LOC = P7  ;
###INST "BUSB_00DP_00S" IOSTANDARD = LVDS_25;
###NET "BUSB_00DN_01S"LOC = P6  ;
###INST "BUSB_00DN_01S" IOSTANDARD = LVDS_25;
###NET "BUSB_01DP_02S"LOC = R2  ;
###INST "BUSB_01DP_02S" IOSTANDARD = LVDS_25;
###NET "BUSB_01DN_03S"LOC = R1  ;
###INST "BUSB_01DN_03S" IOSTANDARD = LVDS_25;
###NET "BUSB_02DP_04S"LOC = R6  ;
###INST "BUSB_02DP_04S" IOSTANDARD = LVDS_25;
###NET "BUSB_02DN_05S"LOC = R5  ;
###INST "BUSB_02DN_05S" IOSTANDARD = LVDS_25;
###NET "BUSB_03DP_06S"LOC = P3  ;
###INST "BUSB_03DP_06S" IOSTANDARD = LVDS_25;
###NET "BUSB_03DN_07S"LOC = P2  ;
###INST "BUSB_03DN_07S" IOSTANDARD = LVDS_25;
###NET "BUSB_04DP_08S"LOC = T4  ;
###INST "BUSB_04DP_08S" IOSTANDARD = LVDS_25;
###NET "BUSB_04DN_09S"LOC = T3  ;
###INST "BUSB_04DN_09S" IOSTANDARD = LVDS_25;
###NET "BUSB_05DP_10S"LOC = T7  ;
###INST "BUSB_05DP_10S" IOSTANDARD = LVDS_25;
###NET "BUSB_05DN_11S"LOC = T6  ;
###INST "BUSB_05DN_11S" IOSTANDARD = LVDS_25;
###NET "BUSB_06DP_12S"LOC = U3  ;
###INST "BUSB_06DP_12S" IOSTANDARD = LVDS_25;
###NET "BUSB_06DN_13S"LOC = U2  ;
###INST "BUSB_06DN_13S" IOSTANDARD = LVDS_25;
###NET "BUSB_07DP_14S"LOC = V4  ;
###INST "BUSB_07DP_14S" IOSTANDARD = LVDS_25;
###NET "BUSB_07DN_15S"LOC = U4  ;
###INST "BUSB_07DN_15S" IOSTANDARD = LVDS_25;
#NET "BUSB_28DP_56S"LOC = U6  ;
##INST "BUSB_28DP_56S" IOSTANDARD = LVCMOS25;
#NET "BUSB_28DN_57S"LOC = U5  ;
##INST "BUSB_28DN_57S" IOSTANDARD = LVCMOS25;
#NET "BUSB_29DP_58S"LOC = P5  ;
##INST "BUSB_29DP_58S" IOSTANDARD = LVCMOS25;
#NET "BUSB_29DN_59S"LOC = P4  ;
##INST "BUSB_29DN_59S" IOSTANDARD = LVCMOS25;
#NET "BUSB_30DP_60S"LOC = P8  ;
#INST "BUSB_30DP_60S" IOSTANDARD = LVDS_25;
#NET "BUSB_30DN_61S"LOC = N8  ;
#INST "BUSB_30DN_61S" IOSTANDARD = LVDS_25;
#NET "BUSB_31DP_62S"LOC = R4  ;
#INST "BUSB_31DP_62S" IOSTANDARD = LVDS_25;
#NET "BUSB_31DN_63S"LOC = R3  ;
#INST "BUSB_31DN_63S" IOSTANDARD = LVDS_25;
#
###NET "BUSA_28DP_56S"LOC = J2  ;
###INST "BUSA_28DP_56S" IOSTANDARD = LVDS_25;
###NET "BUSA_28DN_57S"LOC = J1  ;
###INST "BUSA_28DN_57S" IOSTANDARD = LVDS_25;
###NET "BUSA_29DP_58S"LOC = J5  ;
###INST "BUSA_29DP_58S" IOSTANDARD = LVDS_25;
###NET "BUSA_29DN_59S"LOC = J4  ;
###INST "BUSA_29DN_59S" IOSTANDARD = LVDS_25;
###NET "BUSA_30DP_60S"LOC = J7  ;
###INST "BUSA_30DP_60S" IOSTANDARD = LVDS_25;
###NET "BUSA_30DN_61S"LOC = J6  ;
###INST "BUSA_30DN_61S" IOSTANDARD = LVDS_25;
#NET "BUSA_31DP_62S"LOC = L1  ;
##INST "BUSA_31DP_62S" IOSTANDARD = LVCMOS25;
#NET "BUSA_31DN_63S"LOC = K1  ;
##INST "BUSA_31DN_63S" IOSTANDARD = LVCMOS25;
#
#NET "BUSAA_00DP_00S"LOC = K3  ;
#INST "BUSAA_00DP_00S" IOSTANDARD = LVCMOS25;
#NET "BUSAA_00DN_01S"LOC = K2  ;
#INST "BUSAA_00DN_01S" IOSTANDARD = LVDS_25;
#NET "BUSAA_01DP_02S"LOC = K5  ;
#INST "BUSAA_01DP_02S" IOSTANDARD = LVDS_25;
#NET "BUSAA_01DN_03S"LOC = K4  ;
#INST "BUSAA_01DN_03S" IOSTANDARD = LVDS_25;
#NET "BUSAA_02DP_04S"LOC = K7  ;
#INST "BUSAA_02DP_04S" IOSTANDARD = LVCMOS25;
##NET "BUSAA_02DN_05S"LOC = K6  ;
##INST "BUSAA_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "BUSAA_03DP_06S"LOC = L7  ;
#INST "BUSAA_03DP_06S" IOSTANDARD = LVDS_25;
#NET "BUSAA_03DN_07S"LOC = L6  ;
#INST "BUSAA_03DN_07S" IOSTANDARD = LVDS_25;
#NET "BUSAA_04DP_08S"LOC = M2  ;
#INST "BUSAA_04DP_08S" IOSTANDARD = LVDS_25;
#NET "BUSAA_04DN_09S"LOC = M1  ;
#INST "BUSAA_04DN_09S" IOSTANDARD = LVDS_25;
#NET "BUSAA_05DP_10S"LOC = M4  ;
#INST "BUSAA_05DP_10S" IOSTANDARD = LVCMOS25;
#NET "BUSAA_05DN_11S"LOC = M3  ;
#INST "BUSAA_05DN_11S" IOSTANDARD = LVDS_25;
#NET "BUSAA_06DP_12S"LOC = M6  ;
##INST "BUSAA_06DP_12S" IOSTANDARD = LVCMOS25;
#NET "BUSAA_06DN_13S"LOC = M5  ;
##INST "BUSAA_06DN_13S" IOSTANDARD = LVCMOS25;
#NET "BUSAA_07DP_14S"LOC = N7  ;
#INST "BUSAA_07DP_14S" IOSTANDARD = LVDS_25;
#NET "BUSAA_07DN_15S"LOC = M7  ;
#INST "BUSAA_07DN_15S" IOSTANDARD = LVDS_25;
#
#NET "BUSAHS_04DP_08S"LOC = L4  ;
##INST "BUSAHS_04DP_08S" IOSTANDARD = LVCMOS25;
#NET "BUSAHS_04DN_09S"LOC = L3  ;
##INST "BUSAHS_04DN_09S" IOSTANDARD = LVCMOS25;
#
#NET "GENERAL_16DP_32S"LOC = R8;
##INST "GENERAL_16DP_32S" IOSTANDARD = LVCMOS25;
#NET "GENERAL_16DN_33S"LOC = R7 ; 
##INST "GENERAL_16DN_33S" IOSTANDARD = LVCMOS25;
#
#
#NET "INTERNAL_00DP_00S"LOC = N3 ; 
##INST "INTERNAL_00DP_00S" IOSTANDARD = LVCMOS25;
#NET "FPGA_RESET"LOC = N2  ;
##INST "FPGA_RESET" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_01DP_02S"LOC = N5  ;
##INST "INTERNAL_01DP_02S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_01DN_03S"LOC = N4  ;
##INST "INTERNAL_01DN_03S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_02DP_04S"LOC = V2  ;
##INST "INTERNAL_02DP_04S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_02DN_05S"LOC = V1  ;
##INST "INTERNAL_02DN_05S" IOSTANDARD = LVCMOS25;
#NET "IP_MAC_5"LOC = T8  ;
#INST "IP_MAC_5" IOSTANDARD = LVCMOS25;
#NET "IP_MAC_6"LOC = U7  ;
#INST "IP_MAC_6" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_04DP_08S"LOC = U1  ;
##INST "INTERNAL_04DP_08S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_04DN_09S"LOC = T1  ;
#INST "INTERNAL_04DN_09S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_05DP_10S"LOC = M8  ;
#INST "INTERNAL_05DP_10S" IOSTANDARD = LVCMOS25;
#NET "INTERNAL_05DN_11S"LOC = L8  ;
#INST "INTERNAL_05DN_11S" IOSTANDARD = LVCMOS25;
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2011/07/28
#TIMESPEC TS_GEL_RXCLK = PERIOD "GEL_RXCLK" 8 ns HIGH 50%;
#TIMESPEC TS_SECONDARY_CLK = PERIOD "SECONDARY_CLK" 200 ns HIGH 50%;
#NET "reset_extension" TNM_NET = reset_extension;
#NET "BUSBHS_02DN_05S" TNM_NET = BUSBHS_02DN_05S;
#TIMESPEC TS_BUSBHS_02DN_05S = PERIOD "BUSBHS_02DN_05S" 5 ns HIGH 50%;
#NET "BUSBHS_02DP_04S" TNM_NET = BUSBHS_02DP_04S;
#TIMESPEC TS_BUSBHS_02DP_04S = PERIOD "BUSBHS_02DP_04S" 5 ns HIGH 50%;
##Created by Constraints Editor (xc4vlx25-ff668-10) - 2011/08/02
#TIMESPEC TS_reset_extension = PERIOD "reset_extension" 200 ns HIGH 50%;
