NET "PHY_TXER" LOC = W22; #V25;
NET "PHY_TXER" IOSTANDARD = LVCMOS33;
NET "PHY_TXEN" LOC = AC24; #N22;
NET "PHY_TXEN" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<7>" LOC = 	V21; #M25;
NET "PHY_TXD<7>" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<6>" LOC = V22; #M24;
NET "PHY_TXD<6>" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<5>" LOC = W25; #L24;
NET "PHY_TXD<5>" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<4>" LOC = W26; #L23;
NET "PHY_TXD<4>" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<3>" LOC = AC22; #N25;
NET "PHY_TXD<3>" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<2>" LOC = AB22; #N24;
NET "PHY_TXD<2>" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<1>" LOC = AB23; #AA19;
NET "PHY_TXD<1>" IOSTANDARD = LVCMOS33;
NET "PHY_TXD<0>" LOC = AA23; #AA20;
NET "PHY_TXD<0>" IOSTANDARD = LVCMOS33;
NET "PHY_RESET" LOC = AA26; #Y26;
NET "PHY_RESET" IOSTANDARD = LVCMOS33;
NET "GTX_CLK_0" LOC = AD23; #U26;
NET "GTX_CLK_0" IOSTANDARD = LVCMOS33;
NET "GMII_RX_ER_0" LOC = W21; #V26;
NET "GMII_RX_ER_0" IOSTANDARD = LVCMOS33;
NET "GMII_RX_DV_0" LOC = AC23; #N23;
NET "GMII_RX_DV_0" IOSTANDARD = LVCMOS33;
NET "GMII_RX_CLK_0" LOC = AD22; #T26;
NET "GMII_RX_CLK_0" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<7>" LOC = AB24; #AF24;
NET "GMII_RXD_0<7>" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<6>" LOC = AB25; #AE24;
NET "GMII_RXD_0<6>" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<5>" LOC = Y25; #M21;
NET "GMII_RXD_0<5>" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<4>" LOC = Y26; #M20;
NET "GMII_RXD_0<4>" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<3>" LOC = W20; #AC18;
NET "GMII_RXD_0<3>" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<2>" LOC = V20; #AB18;
NET "GMII_RXD_0<2>" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<1>" LOC = W23; #U23;
NET "GMII_RXD_0<1>" IOSTANDARD = LVCMOS33;
NET "GMII_RXD_0<0>" LOC = W24; #V23;
NET "GMII_RXD_0<0>" IOSTANDARD = LVCMOS33;

NET "GMII_RX_CLK_0" CLOCK_DEDICATED_ROUTE = TRUE;

#CRYSTAL OSCILLATORS
NET "PRIMARY_CLK" LOC = AF8;
NET "PRIMARY_CLK" IOSTANDARD = LVCMOS33;
NET "SECONDARY_CLK" LOC = AF7;
NET "SECONDARY_CLK" IOSTANDARD = LVCMOS33;


#LOGIC ANALYZER

NET "BUSA_30DN_61S" LOC = J6;
NET "BUSA_30DN_61S" IOSTANDARD = LVCMOS33;
NET "BUSA_29DN_59S" LOC = J4;
NET "BUSA_29DN_59S" IOSTANDARD = LVCMOS33;
NET "BUSA_28DN_57S" LOC = J1;
NET "BUSA_28DN_57S" IOSTANDARD = LVCMOS33;
NET "BUSA_26DN_53S" LOC = H3;
NET "BUSA_26DN_53S" IOSTANDARD = LVCMOS33;
NET "BUSA_25DN_51S" LOC = G1;
NET "BUSA_25DN_51S" IOSTANDARD = LVCMOS33;
NET "BUSA_24DN_49S" LOC = H5;
NET "BUSA_24DN_49S" IOSTANDARD = LVCMOS33;
NET "BUSA_23DN_47S" LOC = G3;
NET "BUSA_23DN_47S" IOSTANDARD = LVCMOS33;
NET "BUSA_22DN_45S" LOC = F3;
NET "BUSA_22DN_45S" IOSTANDARD = LVCMOS33;
NET "BUSA_21DN_43S" LOC = F1;
NET "BUSA_21DN_43S" IOSTANDARD = LVCMOS33;
NET "BUSA_20DN_41S" LOC = D4;
NET "BUSA_20DN_41S" IOSTANDARD = LVCMOS33;
NET "BUSA_19DN_39S" LOC = B4;
NET "BUSA_19DN_39S" IOSTANDARD = LVCMOS33;
NET "BUSA_18DN_37S" LOC = B3;
NET "BUSA_18DN_37S" IOSTANDARD = LVCMOS33;
NET "BUSA_17DN_35S" LOC = B9;
NET "BUSA_17DN_35S" IOSTANDARD = LVCMOS33;
NET "BUSA_16DN_33S" LOC = D5;
NET "BUSA_16DN_33S" IOSTANDARD = LVCMOS33;
NET "BUSA_15DN_31S" LOC = C7;
NET "BUSA_15DN_31S" IOSTANDARD = LVCMOS33;
NET "BUSA_14DN_29S" LOC = G8;
NET "BUSA_14DN_29S" IOSTANDARD = LVCMOS33;
NET "BUSA_13DN_27S" LOC = G5;
NET "BUSA_13DN_27S" IOSTANDARD = LVCMOS33;
NET "BUSA_12DN_25S" LOC = E4;
NET "BUSA_12DN_25S" IOSTANDARD = LVCMOS33;
NET "BUSA_11DN_23S" LOC = H7;
NET "BUSA_11DN_23S" IOSTANDARD = LVCMOS33;
NET "BUSA_10DN_21S" LOC = C1;
NET "BUSA_10DN_21S" IOSTANDARD = LVCMOS33;
NET "BUSA_9DN_19S" LOC = G7;
NET "BUSA_9DN_19S" IOSTANDARD = LVCMOS33;
NET "BUSA_8DN_17S" LOC = E5;
NET "BUSA_8DN_17S" IOSTANDARD = LVCMOS33;


NET "BUSA_30DP_60S" LOC = J7;
NET "BUSA_30DP_60S" IOSTANDARD = LVCMOS33;
NET "BUSA_29DP_58S" LOC = J5;
NET "BUSA_29DP_58S" IOSTANDARD = LVCMOS33;
NET "BUSA_28DP_56S" LOC = J2;
NET "BUSA_28DP_56S" IOSTANDARD = LVCMOS33;
#NET "BUSA_27DP_54S" LOC = H2;
#NET "BUSA_27DP_54S" IOSTANDARD = LVCMOS33;
NET "BUSA_26DP_52S" LOC = H4;
NET "BUSA_26DP_52S" IOSTANDARD = LVCMOS33;
NET "BUSA_24DP_48S" LOC = H6;
NET "BUSA_24DP_48S" IOSTANDARD = LVCMOS33;

# Added by AGP 2008-06-23

NET "BUSA_23DP_46S" LOC = G4;
NET "BUSA_23DP_46S" IOSTANDARD = LVCMOS33;
NET "BUSA_22DP_44S" LOC = F4;
NET "BUSA_22DP_44S" IOSTANDARD = LVCMOS33;
NET "BUSA_21DP_42S" LOC = E1;
NET "BUSA_21DP_42S" IOSTANDARD = LVCMOS33;
NET "BUSA_20DP_40S" LOC = C4;
NET "BUSA_20DP_40S" IOSTANDARD = LVCMOS33;
NET "BUSA_19DP_38S" LOC = A4;
NET "BUSA_19DP_38S" IOSTANDARD = LVCMOS33;
NET "BUSA_18DP_36S" LOC = A3;
NET "BUSA_18DP_36S" IOSTANDARD = LVCMOS33;
NET "BUSA_17DP_34S" LOC = A9;
NET "BUSA_17DP_34S" IOSTANDARD = LVCMOS33;
NET "BUSA_16DP_32S" LOC = C5;
NET "BUSA_16DP_32S" IOSTANDARD = LVCMOS33;

NET "BUSA_15DP_30S" LOC = B7;
NET "BUSA_15DP_30S" IOSTANDARD = LVCMOS33;
NET "BUSA_14DP_28S" LOC = F8;
NET "BUSA_14DP_28S" IOSTANDARD = LVCMOS33;
NET "BUSA_13DP_26S" LOC = G6;
NET "BUSA_13DP_26S" IOSTANDARD = LVCMOS33;
NET "BUSA_12DP_24S" LOC = D3;
NET "BUSA_12DP_24S" IOSTANDARD = LVCMOS33;
NET "BUSA_11DP_22S" LOC = H8;
NET "BUSA_11DP_22S" IOSTANDARD = LVCMOS33;
NET "BUSA_10DP_20S" LOC = C2;
NET "BUSA_10DP_20S" IOSTANDARD = LVCMOS33;
NET "BUSA_09DP_18S" LOC = F7;
NET "BUSA_09DP_18S" IOSTANDARD = LVCMOS33;
NET "BUSA_08DP_16S" LOC = E6;
NET "BUSA_08DP_16S" IOSTANDARD = LVCMOS33;

#NET "INTERNAL_03DN_07S" LOC = U7;
#NET "INTERNAL_03DN_07S" IOSTANDARD = LVCMOS33;

#NET "INTERNAL_02DN_05S" LOC = V1;
#NET "INTERNAL_02DN_05S" IOSTANDARD = LVCMOS33;

#interboard communication
NET "debug_port0"    LOC = "U7";
NET "debug_port0" 	IOSTANDARD = LVCMOS33;
INST "debug_port0" 	DRIVE = 12;
NET "debug_port1"    LOC = "V1";
NET "debug_port1" 	IOSTANDARD = LVCMOS33;
INST "debug_port1" 	DRIVE = 12;

